<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <link rel="stylesheet" href="/css/main.css">
        
        <script src="/js/core/api.js" defer></script>
        <script src="/js/core/auth.js" defer></script>
    </head>
    <body>
        <div class="box">

            <h2>Welcome</h2>

            <input 
                id="login-email" 
                placeholder="Email"
                type="email"
            >

            <input 
                id="login-password" 
                placeholder="Password"
                type="password"
            >

            <div class="buttons">
                <button onclick="login()">Login</button>
                <button onclick="window.location.href='/signup'">SignUp</button> 
            </div>
        </div>
    </body>
</html>
