<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cloud Storage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" href="/css/storage.css">
        <link rel="stylesheet" href="/css/main.css">
    
        <script src="/js/core/api.js" defer></script>
        <script src="/js/core/auth.js" defer></script>
        <script src="/js/storage/state.js" defer></script>
        <script src="/js/storage/modal.js" defer></script>
        <script src="/js/storage/tree.js" defer></script>
        <script src="/js/storage/app.js" defer></script>
    </head>
    <body>
        <header class="topbar">

            <h2>Cloud Storage</h2>

            <div class="account">
                <button class="account-btn" onclick="toggleMenu()">👤 My Account</button>

                <div class="account-menu" id="accountMenu">

                    <h3>Account</h3>

                    <div class="info">
                        <span>Name</span>
                        <strong class="user-name"></strong>
                    </div>

                    <div class="info">
                        <span>Email</span>
                        <strong class="user-email"></strong>
                    </div>

                    <div class="info">
                        <span>Created</span>
                        <strong class="user-created"></strong>
                    </div>

                    <div class="buttons">
                        <button 
                            onclick="logout()" 
                            class="logout-btn">
                            Logout
                        </button>

                        <button 
                            onclick="deleteAccount()"  
                            class="danger">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="box manager">
            
            <div class="toolbar">

                <button onclick="openFolderModal()">+ Folder</button>
    
                <button onclick="openUploadModal()">+ Upload</button>

                <button  onclick="goBack()">Back</button>

            </div>

            <div class="path">
                Path: /
            </div>
            
            <div class="files"></div>
        </div>

        <div class="modal" id="folderModal">

            <div class="modal-window">

                <h3>Create Folder</h3>

                <input
                    id="folder-name"
                    type="text"
                    placeholder="Name"
                >

                <textarea
                    id="folder-description"
                    placeholder="Description"
                ></textarea>

                <div class="buttons">
                    <button onclick="createFolder()">Create</button>
                    <button onclick="closeFolderModal()">Close</button>
                </div> 
            </div>
        </div>
        <div class="modal" id="uploadModal">

            <div class="modal-window">

                <h3>Upload File</h3>

                 <input
                    id="file-name"
                    type="text"
                    placeholder="Name"
                >

                <textarea
                    id="upload-description"
                    placeholder="Description"
                ></textarea>

                <input
                     id="upload-file"
                    type="file"
                    hidden
                >
                <label
                    id="filePicker"
                    for="upload-file"
                    class="file-picker"
                >
                    📄 Select File
                </label> 

                <div class="buttons">
                    <button onclick="uploadFile()">Save</button>
                    <button onclick="closeUploadModal()">Close</button>
                </div> 
            </div>
        </div> 
        <div class="modal" id="nodeInfoModal">
            <div class="modal-window">
                <h3 id="node-info-title">
                    Node Info
                </h3>
                <div class="info">
                    <span>Name</span>
                    <strong id="node-info-name"></strong>
                </div>
                <div class="info">
                    <span>Type</span>
                    <strong id="node-info-type"></strong>
                </div>
                <div class="info">
                    <span>Description</span>
                    <strong id="node-info-description"></strong>
                </div>
                <div class="info">
                    <span>Size</span>
                    <strong id="node-info-size"></strong>
                </div>
                <div class="info">
                    <span>MIME</span>
                    <strong id="node-info-mime"></strong>
                </div>
                <div class="info">
                    <span>Extension</span>
                    <strong id="node-info-extension"></strong>
                </div>
                <div class="info">
                    <span>Created</span>
                    <strong id="node-info-created"></strong>
                </div>
                <div class="buttons"> 
                    <button 
                        id="node-download-btn"
                        onclick="downloadSelectedNode()">
                        Download
                    </button>

                    <button 
                        class="danger"
                        onclick="deleteSelectedNode()">
                        Delete
                    </button>

                    <button onclick="closeNodeInfoModal()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </body> 
</html>
