<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" href="/css/storage.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/storage.js"></script>
    </head>
    <body>
        <header class="topbar">

            <h2>{{ .Title }}</h2>

            <div class="account">
                <button class="account-btn" onclick="toggleMenu()">👤 My Account</button>

                <div class="account-menu" id="accountMenu">

                    <h3>Account</h3>

                    <div class="info">
                        <span>Name</span>
                        <strong class="user-name"></strong>
                    </div>

                    <div class="info">
                        <span>Email</span>
                        <strong class="user-email"></strong>
                    </div>

                    <div class="info">
                        <span>Created</span>
                        <strong class="user-created"></strong>
                    </div>

                    <div class="buttons">
                        <button 
                            onclick="logout()" 
                            class="logout-btn">
                            Logout
                        </button>

                        <button 
                            onclick="deleteAccount()"  
                            class="danger">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="box manager">
            
            <div class="toolbar">

                <button>+ Folder</button>
    
                <button>+ Upload</button>

                <button>Back</button>

            </div>

            <div class="path">
                Path: /
            </div>
            
            <div class="files">
                <div class="item folder">
                    📁
                    <span>Photos</span>
               </div>

                <div class="item folder">
                    📁
                    <span>Music</span>
                </div>

                <div class="item file">
                    📄
                    <span>notes.txt</span>
                </div>

                <div class="item file">
                    📄
                    <span>report.pdf</span>
                </div>

            </div>
        </div>
    </body>
</html>
